In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sqlalchemy.engine import create_engine

%matplotlib notebook

In [2]:
%load_ext sql
%config SqlMagic.displaylimit=50
%config SqlMagic.autopandas=True

In [3]:
%sql postgresql://imdb:imdb_admin@postgres:5432/imdb_database

In [4]:
connection = create_engine('postgresql://imdb:imdb_admin@postgres:5432/imdb_database')

You will need local copies of the csv files that populate the tables in this database, please [download](https://arch.library.northwestern.edu/downloads/44558d72q?locale=en) and unpack the tarball before proceeding with this exercise.

# Introduction to SQL (Structured Query Language)

##### Version 0.1

***

By Scott Coughlin (Northwestern IT Research Computing Services)  
20 July 2022

[Session 15](https://github.com/LSSTC-DSFP/LSSTC-DSFP-Sessions/tree/main/Sessions/Session15) is primarily concerned with handling our data with efficiency.

Ideally, for any and every task we want to desire solutions that operate *faster*.

This can be accomplished many different ways:

$~~~~~~$build algorithms that execute faster

$~~~~~~$spread calculations over many different computers simultaneously

$~~~~~~$find a compact storage solution for the data so it can be accessed more quickly

In our introduction to SQL we will start with simple queries of existing tables, and discuss creating your own tables using `pandas` as a challenge problem.

## Problem 1) IMDb Data

Throughout the session we will use information from the [Internet Movie Database (IMDb)](https://www.imdb.com/) to illustrate various principles regarding databases.

A quick note on the provenance of this data. The files we have used to populate this data set are from [this website](https://relational.fit.cvut.cz/dataset/IMDb) and it may not be a list of every single movie on IMDb (there are no movies after 2004).

#### Please note that you can make an SQL command call from a jupyter cell by adding "%sql" in front of the SQL command you want to run, see examples below
```
## Perform a SQL command and see the results of the query
%sql SELECT * FROM imbd_movies;

## If you save to a variable, in this case "result", then the variable will be a `pandas` DataFrame based on the result of the query
result = %sql SELECT * FROM imdb_directors ORDER BY first_name LIMIT 10; 
```

In [5]:
result = %sql SELECT * FROM IMDB_directors ORDER BY first_name LIMIT 10;

 * postgresql://imdb:***@postgres:5432/imdb_database
10 rows affected.

In [6]:
result

   director_id first_name       last_name
0         7494         A.      Bistritsky
1        13355         A.       Champeaux
2         7125         A.       Bhimsingh
3         3728         A.           Babes
4         4871         A.      Barr-Smith
5         8026         A.          Bobrov
6         4175         A.    Balakrishnan
7         6779         A.           Berry
8         1114         A.     Aleksandrov
9        13475         A.  Chandrasekaran

In [7]:
imdb_movies = %sql SELECT * FROM imdb_movies
imdb_directors = %sql SELECT * FROM imdb_directors
imdb_movies_directors = %sql SELECT * FROM imdb_movies_directors
imdb_movies_genres = %sql SELECT * FROM imdb_movies_genres

 * postgresql://imdb:***@postgres:5432/imdb_database
355146 rows affected.
 * postgresql://imdb:***@postgres:5432/imdb_database
86880 rows affected.
 * postgresql://imdb:***@postgres:5432/imdb_database
371180 rows affected.
 * postgresql://imdb:***@postgres:5432/imdb_database
395119 rows affected.

In [20]:
imdb_movies = %sql SELECT * FROM imdb_movies
imdb_directors = %sql SELECT * FROM imdb_directors
imdb_movies_directors = %sql SELECT * FROM imdb_movies_directors
imdb_movies_genres = %sql SELECT * FROM imdb_movies_genres

 * postgresql://imdb:***@postgres:5432/imdb_database
0 rows affected.
 * postgresql://imdb:***@postgres:5432/imdb_database
86880 rows affected.
 * postgresql://imdb:***@postgres:5432/imdb_database
0 rows affected.
 * postgresql://imdb:***@postgres:5432/imdb_database
0 rows affected.

In [ ]:
Please execute the cell below to list all of the table names in the imbd_database database. You will want these table names to answer the questions that follow.

In [8]:
%sql \dt

 * postgresql://imdb:***@postgres:5432/imdb_database
4 rows affected.

   Schema                   Name   Type Owner
0  public         imdb_directors  table  imdb
1  public            imdb_movies  table  imdb
2  public  imdb_movies_directors  table  imdb
3  public     imdb_movies_genres  table  imdb

**Problem 1a**

Using SQL, SELECT 10 movies from the imbd_movies table. Select 10 directors from imbd_directors and order by `first_name`.

In [17]:
%sql

 * postgresql://imdb:***@postgres:5432/imdb_database

**Problem 1b**

Using SQL, how many movies are there? How many directors are there?

In [ ]:
%sql

*Write your answer here*

**Problem 1c**

Using SQL, determine how many movies are there after the year 2000?

In [ ]:
%sql

*Write your answer here*

**Problem 1d**

How many different movie genres are there?

In [ ]:
%sql

*Write your answer here*

## Problem 2) Joins

We started this exercise with a goal of being efficient. And yet, the data have been organized across 4 different files (each sheet is effectively a unique csv file).

**Problem 2a**

Join `imdb_movies` and `imdb_movies_genres` together

In [ ]:
%sql

*write your answer here*

**Problem 2b**

Join `imdb_movies`, `imdb_movies_directors` and `imdb_directors` together

In [ ]:
%sql

*write your answer here*

## Problem 3) Groups and Aggregates

Now that we know why the data has been organized in this way, we can leverage this unique structure in order to learn interesting properties of the data.

**Problem 3a**

In which year were the most movies made according to IMDb?

In [ ]:
%sql

*write your answer here*

**Problem 3b**

How many "Action" movies where made after the year 1980? Before the year 1980?

In [ ]:
%sql

*write your answer here*

**Problem 3c**

Select all films made by `Scorsese`. How many are there?

In [ ]:
%sql

*write your answer here*

**Problem 3c**

According the the IMDb data, which director has directed the most movies?

In [ ]:
%sql

*write your answer here*

**Problem 3d**

According the the IMDb data, which director has directed the most movies in each genre?

In [ ]:
%sql

*write your answer here*

## Challenge Problem) Make your own tables

**Problem 1a**

Create a new TABLE.

In [ ]:
%sql

**Problem 1b**

INSERT 3 rows into the TABLE you made above

In [ ]:
%sql

**Problem 1c**

Create a pandas DataFrame and save as a SQL table

*** hint look at the `pandas.to_sql` documentation and note that we already made a "connection" variable called `connection` ***